.vs
.DS_Store
/profile_list_*.html
/profile_chart_*.html
/stats*.html
/Docs/JoltPhysics.chm
/Docs/JoltPhysics.chw
/*.jor
.vscode/*.log
/.idea.*/

.gradle/
/gradle/
local.properties
/gradle/
/gradlew
/gradlew.bat

/Build/cmake-*/
/Build/intermediate/
/Build/html/
/Build/latex/
